body {
  background-color: #e8ebef;
  color: black;
}

a, li a{
  background-color: inherit;
  text-decoration: none;
  color: white;
}

nav {
    font-family: Helvetica, monospace;
}

ul li ul li h1 {
  font-size: 15px;
  display: inline;
  padding: 0;
  margin: 0;
  line-height: 1px;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  color: black;
  background: #828282;
  display: block;
  float: left;
  padding: 15px;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
  border-right: solid 1px transparent;
  margin-right: 1px;
}

li:hover {
  color: inherit;
  background: #565656;
  cursor: pointer;
  border-bottom: solid #e8ebef;
  border-bottom-width: 1px;
  padding-bottom: 14px;
  padding-top: 16px;
}

ul li ul {
  color: inherit;
  background: #828282;;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 15px;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

li ul li:hover {
  border-bottom: solid 0px !important;
}

ul li ul li {
  clear: both;
  width: 100%;
  color: white;
  background-color: #828282;
}

ul li ul li ul{
  left: 100%;
  top: -15px;
  margin-left: 2px;
  width: 100%;
  color: white;
  background-color: #828282;
}

ul li ul li:hover{
  clear: both;
  width: 100%;
  color: white;
  background-color: #565656;
}
